<%-include ("partials/header")  -%> <!-- updated syntax in ejs v3.0.1 -->
<div class="container">
    <h1><%=campground.name %> </h1>

    <img src="<%= campground.image %>">
    <p><%=campground.description %> </p>

</div>


<%-include ("partials/footer") -%> <!-- updated syntax in ejs v3.0.1 -->